<div class="theme-split-pane-frame">
  <div class="split-pane fixed-left">

    <div class="split-pane-component" id="left-component">
      <div class="split-pane fixed-top">
        <div class="split-pane-component" id="left-top-component">
          <div class="theme-split-pane-component-inner">
            <div class="info-margin">
              INPUT
              <br>
              <button class="btn btn-xs btn-link" ng-click="previewRandomRow()"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
            <div ng-if="inputLinePreview" class="preview-container">
              <table class="table table-condensed">
                <tr>
                  <th class="data-cell text-info">row</th>
                  <th ng-repeat="key in inputLinePreview.keys" class="data-cell">{{key}}</th>
                </tr>
                <tr>
                  <td class="data-cell text-info">{{inputLinePreview.rowId}}</td>
                  <td ng-repeat="cell in inputLinePreview.content" class="data-cell">{{cell}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="split-pane-divider" id="horizontal-divider-1">
          <div class="triangle-container">
            <div class="triangle"></div>
            <div class="triangle-content-container">
              <div class="triangle-content text-muted">
                CODE YOUR<br>FILTER
              </div>
            </div>
          </div>
        </div>

        <div class="split-pane-component" id="left-middle-and-bottom-component">
          
          <div class="split-pane fixed-bottom">
            <div class="split-pane-component" id="left-middle-component">
              <div class="theme-split-pane-component-inner" id="js-editor-container" ng-keypress="codeKeyPress($event)">
                <pre id="js-editor">
// Edit your data here
output = input
    .filter(function(d, i){
        return true
    })</pre>
              </div>
            </div>
            <div class="split-pane-divider" id="horizontal-divider-2">
              <div class="triangle-container">
                <div class="triangle"></div>
                <div class="triangle-content-container">
                  <div class="triangle-content text-info">
                    CTRL ENTER
                    <br>
                    TO RUN
                  </div>
                </div>
              </div>
            </div>
            <div class="split-pane-component" id="left-bottom-component">
              <div class="theme-split-pane-component-inner">
                <div class="info-margin">
                  OUTPUT
                </div>
                <div ng-if="outputLinePreview" class="preview-container">
                  <table class="table table-condensed">
                    <tr>
                      <th class="data-cell text-info">row</th>
                      <th ng-repeat="key in outputLinePreview.keys" class="data-cell">{{key}}</th>
                    </tr>
                    <tr>
                      <td class="data-cell text-info">{{inputLinePreview.rowId}}</td>
                      <td ng-repeat="cell in outputLinePreview.content" class="data-cell">{{cell}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="split-pane-divider" id="vertical-divider"></div>
    <div class="split-pane-component" id="right-component">
      <div class="theme-split-pane-component-inner">
      </div>
    </div>

  </div>
</div>