<div class="theme-split-pane-frame">
  <div class="split-pane fixed-left">

    <div class="split-pane-component" id="left-component">
      <div class="split-pane fixed-top">
        <div class="split-pane-component" id="left-top-component">
          <div class="theme-split-pane-component-inner">
            <div class="info-margin">
              INPUT
              <br>
              <button class="btn btn-xs btn-link" ng-click="previewRandomInputRow()"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
            <div ng-if="inputLinePreview" class="preview-container">
              <table class="table table-condensed">
                <tr>
                  <th class="data-cell text-info">row</th>
                  <th ng-repeat="key in inputLinePreview.keys" class="data-cell">{{key}}</th>
                </tr>
                <tr>
                  <td class="data-cell text-info">{{inputLinePreview.rowId}}</td>
                  <td ng-repeat="cell in inputLinePreview.content" class="data-cell">{{cell}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="split-pane-divider" id="horizontal-divider-1">
          <div class="triangle-container">
            <div class="triangle"></div>
            <div class="triangle-content-container">
              <div class="triangle-content text-muted">
                CODE YOUR<br>FILTER
              </div>
            </div>
          </div>
        </div>

        <div class="split-pane-component" id="left-middle-and-bottom-component">
          
          <div class="split-pane fixed-bottom">
            <div class="split-pane-component" id="left-middle-component">
              <div class="theme-split-pane-component-inner" id="js-editor-container" ng-keypress="codeKeyPress($event)">
                <pre id="js-editor">
// FILTER YOUR DATA HERE

// Just fill the "output" variable using "input"
output = input.filter(function(item, i){

  // EXAMPLE: return the first 10 items
  return i &lt; 10;

});</pre>
              </div>
            </div>
            <div class="split-pane-divider" id="horizontal-divider-2">
              <div class="triangle-container">
                <div class="triangle"></div>
                <div class="triangle-content-container">
                  <div class="triangle-content text-info">
                    CTRL<span class="plus-sign">+</span>ENTER
                    <br>
                    TO RUN
                  </div>
                </div>
              </div>
            </div>
            <div class="split-pane-component" id="left-bottom-component">
              <div class="theme-split-pane-component-inner">
                <div class="info-margin">
                  OUTPUT
                  <br>
                  <button class="btn btn-xs btn-link" ng-click="previewRandomOutputRow()" ng-show="outputLinePreview"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
                <div class="preview-container">
                  <div class="error-panel" ng-if="!outputError && !outputLinePreview">
                    <p>
                      Edit your code and press <kbd>CTRL</kbd> + <kbd>ENTER</kbd> to run it
                    </p>
                    <p class="text-muted">
                      <small>Note: it works only from the coding panel</small>
                    </p>
                  </div>
                  <div class="error-panel" ng-if="outputError">
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      {{outputError}}
                    </div>
                  </div>
                  <table class="table table-condensed" ng-if="outputLinePreview" >
                    <tr>
                      <th class="data-cell text-info">row</th>
                      <th ng-repeat="key in outputLinePreview.keys" class="data-cell">{{key}}</th>
                    </tr>
                    <tr>
                      <td class="data-cell text-info">{{outputLinePreview.rowId}}</td>
                      <td ng-repeat="cell in outputLinePreview.content" class="data-cell">{{cell}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="split-pane-divider" id="vertical-divider"></div>
    <div class="split-pane-component" id="right-component">
      <div class="theme-split-pane-component-inner">
        <div class="viz-cards-container">

          <div class="viz-card">
            <div class="viz-card-title">
              TIMESTAMPS - CALENDAR VIEW
            </div>
            <div class="float-buttons">
              <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-fullscreen"></span> FULLSCREEN</button>
            </div>
            <div class="d3-panel">

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>