/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* View Board */
html, body, .ng-scope, .pretty-split-pane-frame {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#left-component{
  width: 50%;
}

#right-component {
  left: 50%;
  margin-left: 5px;
}

#vertical-divider{
  left: 50%;
  width: 5px;
}


#left-top-component{
  height: 20%;
}

#left-middle-and-bottom-component{
  top: 20%;
  margin-top: 5px;
}

#horizontal-divider-1{
  top: 20%;
  height: 5px;
}


#left-middle-component{
  bottom: 25%;
  margin-bottom: 5px;
}

#left-bottom-component{
  height: 25%;
}

#horizontal-divider-2{
  bottom: 25%;
  height: 5px;
}

.theme-split-pane-frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.theme-split-pane-frame > .split-pane > .split-pane-divider.dragged.touch {
  background: blue;
  opacity: 0.25;
}

.theme-split-pane-component-inner {
  box-sizing: border-box;
  border: 1px solid #EEE;
  /*background: #EAEAEA;*/
  width: 100%;
  height: 100%;
  /*padding: 0 1em;*/
  overflow: auto;
-moz-box-shadow: inset 0px 2px 5px 0px #eee;
-webkit-box-shadow: inset 0px 2px 5px 0px #eee;
-o-box-shadow: inset 0px 2px 5px 0px #eee;
box-shadow: inset 0px 2px 5px 0px #eee;
}


/* JS editor */
#js-editor-container {
  overflow: hidden;
}
#js-editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Preview input */
.data-cell{
  word-wrap: break-word;
  max-width: 120px;
  font-size: 10px;
}