body{
  font-family: 'Roboto', sans-serif;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* View Board */
html, body, .ng-scope:not(.viz-card), .pretty-split-pane-frame {
  height: 100%;
  min-height: 100%;
  /*margin: 0;*/
  /*padding: 0;*/
}

#left-component{
  width: 50%;
}

#right-component {
  left: 50%;
  margin-left: 5px;
}

#vertical-divider{
  left: 50%;
  width: 5px;
}


#left-top-component{
  height: 20%;
}

#left-middle-and-bottom-component{
  top: 20%;
  margin-top: 5px;
}

#horizontal-divider-1{
  top: 20%;
  height: 5px;
}


#left-middle-component{
  bottom: 25%;
  margin-bottom: 5px;
}

#left-bottom-component{
  height: 25%;
}

#horizontal-divider-2{
  bottom: 25%;
  height: 5px;
}

.theme-split-pane-frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.theme-split-pane-frame > .split-pane > .split-pane-divider.dragged.touch {
  background: blue;
  opacity: 0.25;
}

.theme-split-pane-component-inner {
  box-sizing: border-box;
  border: 1px solid #EEE;
  /*background: #EAEAEA;*/
  width: 100%;
  height: 100%;
  /*padding: 0 1em;*/

          box-shadow: inset 0px 2px 5px 0px #eee;
       -o-box-shadow: inset 0px 2px 5px 0px #eee;
     -moz-box-shadow: inset 0px 2px 5px 0px #eee;
  -webkit-box-shadow: inset 0px 2px 5px 0px #eee;
}

.info-margin{
  position: absolute;
  left: 0;
  background-color: #E7EDF4;
  width: 60px;
  top: 0;
  bottom: 0;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  text-align: center;

  padding-top: 4px;

  overflow: hidden;
}

.info-margin .input-narrow{
  text-align: center;
  width: 36px;
  margin-left: 12px;
}

.preview-container{
  margin-left: 60px;
  overflow: auto;
}

/* JS editor */
#js-editor-container {
  overflow: hidden;
}
#js-editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

/* Table preview */
.data-cell{
  word-wrap: break-word;
  max-width: 120px;
}
td.data-cell{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
th.data-cell{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* Triangles */
.triangle-container{
  position: relative;
  margin-top: -2px;
}

.triangle-container .triangle{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  bottom: -5em;
  right: 6em;
  box-sizing: border-box;
  border: 2.5em solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.triangle-container .triangle-content-container{
  position: absolute;
  right: 7.45em;
}

.triangle-container .triangle-content{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: normal;
  margin-right: -3em;
  width: 6em;
  padding-top: 6px;
  text-align: center
}

.plus-sign{
  color: #BBB;
}

/* Error */
.error-panel{
  padding: 8px 6px 6px 6px;
}

/* Visualization cards */
.viz-cards-container{
  height: 100%;
  overflow: auto;
}

.viz-card{
  position: relative;
  width: 100%;

          box-shadow: 1px 1px 5px 0px #eee;
       -o-box-shadow: 1px 1px 5px 0px #eee;
     -moz-box-shadow: 1px 1px 5px 0px #eee;
  -webkit-box-shadow: 1px 1px 5px 0px #eee;
  border-bottom: 1px solid #EEE;

  overflow: hidden;
}

.viz-card .viz-card-title{
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 4px 2px 0px 4px;

          box-shadow: 1px 1px 5px 0px #eee;
       -o-box-shadow: 1px 1px 5px 0px #eee;
     -moz-box-shadow: 1px 1px 5px 0px #eee;
  -webkit-box-shadow: 1px 1px 5px 0px #eee;

  background-color: rgba(255, 255, 255, 0.75);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.viz-card .d3-panel{
  margin-top: 18px;
  height: 100px;
}

.viz-card .d3-panel .no-output-message{
  padding: 12px;
  color: #AAA;
}

.viz-card .d3-panel .card-loading{
  padding: 24px;
  text-align: center;
}

.viz-card .float-buttons{
  position: absolute;
  right: 6px;
  bottom: 6px;
}

/* Add viz cards */
.add-card-container{
  padding: 12px;
}

.select-card-container .card-type{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 270px;
  height: 102px;
  margin-top: 12px;
  margin-left: 12px;

  /*background-color: #EEE;*/

  border: 1px solid #EEE;

          box-shadow: 1px 1px 5px 0px #eee;
       -o-box-shadow: 1px 1px 5px 0px #eee;
     -moz-box-shadow: 1px 1px 5px 0px #eee;
  -webkit-box-shadow: 1px 1px 5px 0px #eee;

  user-select: none;
  cursor: pointer;

}

.select-card-container .card-type .card-image{
  float: left;
  overflow: hidden;
}

.select-card-container .card-type .card-name{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 700;

  padding-top: 6px;
  padding-left: 112px;
}

.select-card-container .card-type .card-description{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #999;

  padding-top: 3px;
  padding-left: 112px;
  padding-right: 2px;
}

.select-card-container .card-type .card-type-overlay{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(50, 50, 50, 0);
  text-align: center;
  color: rgba(255, 255, 255, 0);
  font-size: 52px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  padding-top: 8px;
}

.select-card-container .card-type:hover .card-type-overlay{
  background-color: rgba(40, 70, 100, 0.25);
  color: rgba(255, 255, 255, 1);
}

.card-options-container{
  padding: 12px;
}

.card-options-container h3{
  margin-top: 0px;
}

.card-options-container .btn{
  margin-right: 12px;
}




/* Uploader */
.upload-background{
  background-color: #EDE9E2;
}
.upload-area-container{
  position: relative;
  left: 50%;
  top: 50%;
  width:0;
  height:0;

  user-select: none;
  cursor: pointer;

}
.upload-area-container .upload-area{
  width: 300px;
  height: 300px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  transform-origin: 150px 150px;
  transform: translate(-150px,-150px) rotate(-45deg);
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.1);

  -webkit-transition: background-color .2s; /* Safari */
          transition: background-color .2s;
}
.upload-area-container:hover .upload-area, .upload-area-container.over .upload-area{
  background-color: #337ab7;
}
.upload-area-container.loading .upload-area{
  background-color: #46b8da;
}
.upload-area-container.success .upload-area{
  background-color: #5cb85c;
}
.upload-text{
  position: absolute;
  margin-top: -28px;
  top: 0px;
  font-weight: 300;
  text-align: center;
  width: 500px;
  margin-left: -250px;
}
.upload-text .upload-text-main{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
.upload-area-container:hover   .upload-text .upload-text-main,
.upload-area-container.over    .upload-text .upload-text-main,
.upload-area-container.loading .upload-text .upload-text-main,
.upload-area-container.success .upload-text .upload-text-main
{
  color: #FFF;
}
.upload-text .upload-text-sub{
  font-family: 'Roboto', sans-serif;
  color: #AAA;
  font-size: 18px;
}
.upload-area-container:hover   .upload-text .upload-text-sub,
.upload-area-container.over    .upload-text .upload-text-sub
{
  color: #FFF;
}
.upload-area-container.loading .upload-text .upload-text-sub,
.upload-area-container.success .upload-text .upload-text-sub
{
  display: none;
}
.upload-icon{
  position: absolute;
  margin-top: -120px;
  top: 0px;
  font-size: 52px;
  width: 500px;
  margin-left: -250px;
  text-align: center;
}
.upload-area-container:hover   .upload-icon,
.upload-area-container.over    .upload-icon,
.upload-area-container.loading .upload-icon,
.upload-area-container.success .upload-icon
{
  color: #FFF;
}
