<div class="upload-info">
  <h1>CSV, Rinse, Repeat</h1>
  <br>
  <p>
    Sample datasets:
  </p>
  <button class="btn btn-link" ng-click="loadExample('data/movies.csv', 'data/movies')">Movies</button>
  <br>
  <button class="btn btn-link" ng-click="loadExample('data/nasa-lab-facilities.csv', 'data/nasa-lab-facilities')">NASA lab facilities</button>
  <br>
  <button class="btn btn-link" ng-click="loadExample('data/OECD-BEPS-consultation-actors.csv', 'data/OECD-BEPS-consultation-actors')">OECD BEPS consultation actors</button>
  <br>
  <br>
  <br>
  <br>

  <p>
    + <a href="http://tools.medialab.sciences-po.fr/">more tools</a>
    <br>
    <a href="http://www.medialab.sciences-po.fr/"><img src="medialab.png"></a>
  </p>

</div>
<div class="upload-background">
  <div
    class="upload-area-container"
    id="uploader"
    ng-paste="handlePaste()"
    ng-click="loadFile()"
    ng-class="dropClass"
  >
    <div class="upload-area">
    </div>
    <div class="upload-icon">
      <span class="glyphicon glyphicon-open"></span>
    </div>
    <div class="upload-text">
      <div class="upload-text-main">
        {{loadingMessage=='' ? 'LOAD CSV' : loadingMessage}}
      </div>
      <div class="upload-text-sub">
        CLICK or DRAG A FILE
      </div>
    </div>
  </div>
</div>

<!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
<input id="hidden-file-input" type="file" name="hidden-file-input" style="display: none;" onchange="angular.element(this).scope().setFile(this)"/>